<header>
    <div class="left_boks"><img src="favicon.png" alt="" width="100px" height="100px"></div>
    <div class="right_con_head">
        <div class="right_boks" style="cursor: pointer;">guide</div>
        <div class="right_boks" style="cursor: pointer;" onclick="window.location.href='/login'";>login</div>
    </div>
</header>