<nav>
    <div class="left_boks" onclick="window.location.href='/';"><img src="favicon.png" alt="" width="100px" height="100px"></div>
    <div class="right_con_head">
        <div class="right_boks" style="cursor: pointer;" onclick="window.location.href='/guide'";>guide</div>
        <div class="right_boks" style="cursor: pointer;" onclick="window.location.href='/login'";>login</div>
        <div class="right_boks" style="cursor: pointer;" onclick="window.location.href='/nyguide'";>Ny Guide</div>
    </div>
</nav>