<%- include("./partials/header") %>
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guider</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("./partials/nav") %>
    <!-- <h1>Guide Details</h1> -->

    <!-- Loop through the arrays together to keep the correct sequence -->
<h1>Dashboard</h1>
</body>
</html>