<%- include("./partials/header") %>
<body>
    <%- include("./partials/nav") %>
    <main>
        <div class="hovedboks">
            <div class="sidemeny">

            </div>
            <div class="hoved">

            </div>
        </div>
        
    </main>
</body>
</html>