<%- include("./partials/header") %>
<body>
    <%- include("./partials/nav") %>
        <div class="sideskrift" >
            <h1 id="støtte">Støttemenyen</h1>
        </div>
        <main>
            <div class="container">
                <% guides.forEach(function(guide) { %>
                    <a href="/guide/<%= guide._id %>" style="color: inherit; text-decoration: none; 
                    display: flex; align-items: center; justify-content: center; text-align: center;">
                    <div class="litenC">
                            <h1><%= guide.tittel %></h1>
                        </div>
                    </a>
                <% }); %>
                <!-- <div class="litenC">
                    <h1>guide1</h1>
                </div>
                <div class="litenC">
                    <h1>guide2</h1>
                </div>
                <div class="litenC">
                    <h1>guide3</h1>
                </div>
                <div class="litenC">
                    <h1>guide4</h1>
                </div>
                <div class="litenC">
                    <h1>guide5</h1>
                </div>
                <div class="litenC">
                    <h1>guide6</h1>
                </div>
                <div class="litenC">
                    <h1>guide7</h1>
                </div>
                <div class="litenC">
                    <h1>guide8</h1>
                </div> -->
            </div>

        </main>
</body>

</html>