<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrukerGuide Siden</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include("./partials/header") %>
    <div class="sideskrift"><h1 id="støtte">Støttemenyen</h1></div>
    <main>
        <div class="container">
            <div class="litenC"><h1>guide1</h1></div>
            <div class="litenC"><h1>guide2</h1></div>
            <div class="litenC"><h1>guide3</h1></div>
            <div class="litenC"><h1>guide4</h1></div>
            <div class="litenC"><h1>guide5</h1></div>
            <div class="litenC"><h1>guide6</h1></div>
            <div class="litenC"><h1>guide7</h1></div>
            <div class="litenC"><h1>guide8</h1></div>
        </div>

    </main>
</body>
</html>