<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrukerGuide Siden</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="top_boks">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <main>
        <div class="container">
            <h1 >boks</h1>
            <h1>boks2</h1>
        </div>

    </main>
</body>
</html>