

.maincontainer{
    display: grid;
    display: flex;
    grid-template-columns: 1fr;
    min-height: 400px;
    background-color: salmon;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-left: 500px;
}

.formguide{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}